body {
    font-family: "Times New Roman", Times, serif;
    color: #222;
    background: #fff;
}

.student-report {
    page-break-after: always;
    border: 1.5px solid #222;
    padding: 18px 18px 10px 18px;
    margin-bottom: 30px;
}

.school-header {
    text-align: center;
    margin-bottom: 8px;
    border-bottom: 2px solid #131313;
    padding-bottom: 6px;
    position: relative;
}

.school-header img {
    width: 70px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
}

.school-header img.right-logo {
    left: auto;
    right: 0;
}

.school-header-title {
    font-size: 20px;
    font-weight: bold;
    margin: 2px 0;
}

.school-header-contacts {
    font-size: 12px;
    margin: 0;
}

.school-header-subtitle {
    font-size: 15px;
    text-decoration: none;
    margin: 2px 0 8px 0;
}

.info-table {
    width: 100%;
    margin-bottom: 8px;
    font-size: 13px;
}

.info-table td {
    padding: 2px 8px;
}

.section-title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #222;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
}

th,
td {
    border: 1px solid #222;
    padding: 2px;
    font-size: 10px;
    text-align: center;
}

th {
    background: #f5f5f5;
    font-weight: bold;
    vertical-align: top;
}

.vertical-header {
    writing-mode: vertical-rl !important;
    white-space: nowrap;
    font-size: 9px;
    padding: 2px 0;
    height: 70px;
    line-height: 1.1;
    vertical-align: middle;
}
.vertical-header span {
    display: inline-block;
    transform: rotate(-90deg);
}
.vertical-header .label {
    width: 12px;
}
.vertical-header .label1 {
    width: 15px;
}
.signature-section {
    margin-top: 18px;
    font-size: 13px;
}

.stamp-area {
    float: right;
    margin-top: 10px;
    font-size: 12px;
    color: #222;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #444;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

.grades-legend {
    font-size: 12px;
    margin-bottom: 8px;
}

.grades-legend .legend-inline {
    margin-right: 12px;
}
